.about {
  margin-bottom: 3rem;
  position: relative;
  bottom: 4rem;
  text-align: center;
  background-color: white;
  h2 {
    text-align: center;
    position: relative;
  }
  .para {
    color: black;
    box-shadow: 0 0 5px transparent;
    padding: 4px;
    @include breakpoints-down(small) {
      padding: 0 10px;
    }
  }
}
