.about {
  text-align: center;
  background-color: white;
  h2 {
    text-align: center;
    position: relative;
  }
  .para {
    @include breakpoints-down(small) {
      padding: 0 10px;
    }
  }
}

.main {
  position: relative;
  bottom: 150px;
}
