.form {
  margin: 4rem 1.5rem;
  @include breakpoints-up(small) {
    width: 70%;
    margin: 4rem auto;
  }
  @include breakpoints-up(medium) {
    width: 60%;
    margin: 4rem auto;
  }
  @include breakpoints-up(large) {
    width: 40%;
    margin: 4rem auto;
  }
  label {
    text-transform: capitalize;
    opacity: 0.7;
  }

  input {
    height: 2.5rem;
    border: 0.125rem solid white;
    box-shadow: 0 0 0.3125rem black;
  }
  form {
    background-color: white;
    box-shadow: 0 0 0.3125rem black;
    padding: 1.25rem;
    border-radius: 1.25rem;
  }
  textarea {
    resize: none;
    margin-bottom: 1.25rem;
    border: 0.125rem solid white;
    box-shadow: 0 0 0.3125rem black;
    margin-top: 1.25rem;
  }

  button {
    border: 0.125rem solid white;
    box-shadow: 0 0 0.3125rem black;
    width: 50%;
    margin: auto;
  }
}
