.nav {
  &__logo {
    font-weight: bold;
    color: rgb(84, 14, 224);
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__links {
    a {
      font-size: 0.875rem;
      color: #000;
      position: relative;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 1.25rem;
      }
      &::before {
        position: absolute;
        width: 2.5rem;
        height: 0.25rem;
        border-radius: 0.3125ren;
        background-color: rgb(84, 14, 224);
        transition: 200ms ease-in-out;
        opacity: 0;
        content: "";
        bottom: -1rem;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
  &__menu {
    cursor: pointer;
    > span {
      background-color: #000;
      width: 1.25rem;
      transform-origin: 3px 1px;
      height: 0.125rem;
      display: block;
      &:not(:last-child) {
        margin-bottom: 0.1875rem;
      }
    }
  }

  // transform menu icon
  .open {
    span {
      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        visibility: hidden;
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}
// overlayfor smaller screen
.overla {
  visibility: hidden;
  width: 1%;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
  transition: 1s ease-in-out;
  top: 50px;
  position: fixed;
  background: linear-gradient(90deg, #7250d5 0, transparent, #f43a67 100%);
}
// maake the overlay visible
.show {
  visibility: visible;
  width: 100%;
  transform: scale(1);
}

// change the nav link to mobile version
.mobile__links {
  width: 0%;
  transition: 1s ease-in-out;
  background-color: white;
  z-index: 1;
  a {
    display: none;
    color: #000;
  }
}

// make the menu links visible on smaller screen
.visible {
  width: 90%;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 60px;
  left: 0;
  transition: 1s ease-in-out;
  margin: auto;
  border-radius: 10px;
  right: 0;
  a {
    display: block;
    color: #000;
    text-decoration: none;
    transition: 1s;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
