.introl {
  position: relative;
  bottom: 0.625rem;
  // change padding for large screens
  @include breakpoints-up(large) {
    padding-top: 0.625rem;
  }
  // main tittle of the page
  &__tittle {
    // @include breakpoints-down(medium) {
    //   &::before {
    //     position: absolute;
    //     width: 100%;
    //     height: 40px;
    //     border-radius: 100%;
    //     content: "";
    //     transform: rotate(-10deg);
    //     background-color: white;
    //     bottom: 0;
    //   }
    // }

    @include breakpoints-up(medium) {
      // increase the border radius for lager screen
      border-bottom-right-radius: 6.25rem;
      border-bottom-left-radius: 6.25rem;
      padding: 1.25rem 0 9.8125rem;
      &::before {
        position: absolute;
        width: 100%;
        height: 5px;
        content: "";
        transform: rotate(65deg);
        background-color: white;
        bottom: 0;
      }
      &::after {
        position: absolute;
        width: 100%;
        height: 5px;
        content: "";
        transform: rotate(80deg);
        background-color: white;
        bottom: 0;
      }
    }

    // second lines

    // nomal flow
    text-align: center;
    // border-bottom-right-radius: 50px;
    // border-bottom-left-radius: 50px;
    color: white;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    padding: 20px 0 50px;
    background: -webkit-linear-gradient(
      left,
      #7250d5,
      #aa47a5 50%,
      #f43a67 99%
    );
    @include breakpoints-down(medium) {
      &::before {
        position: absolute;
        width: 100%;
        height: 5px;
        content: "";
        transform: rotate(80deg);
        background-color: white;
        bottom: 0;
      }
    }
  }

  // intro image of the user
  &__image {
    position: relative;

    // chabge the distance of padding for lager screens
    @include breakpoints-up(medium) {
      position: relative;
      bottom: 9.8125rem;
    }
    // nomal flow
    position: relative;
    bottom: 50px;
    opacity: 0.99;
    text-align: center;

    img {
      // nomal flow
      max-width: 90%;
      padding: 3px;
      border: 2px solid white;

      // break points
      @include breakpoints-up(small) {
        width: 100%;
        border: 3px solid white;
      }
      @include breakpoints-up(medium) {
        width: 100%;
      }
      @include breakpoints-up(large) {
        width: 90%;
      }
    }
  }

  // hello and name message
}

.accounts {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 60%;
  .link {
    margin-bottom: 45px;
    a {
      padding: 20px 10px;
      font-weight: bold;
      transition: 0.5s ease-in-out;
      color: white;
      text-decoration: none;
      background: linear-gradient(90deg, #7250d5 0, #f43a67 100%);
      &:hover {
        padding: 20px 3em;
        border-radius: 50px;
      }
    }
  }
}
