.work {
  display: flex;
  flex-wrap: wrap;

  &__item {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 5px black;
    margin-bottom: 10px;
  }

  a {
    flex-basis: 100%;
    @include breakpoints-up(medium) {
      flex: 1 0 50%;
      transition: 300ms ease-in-out;
      align-items: center;
      padding-right: 15px;
      &:hover {
        transform: translateY(-10px);
      }
    }
    @include breakpoints-up(large) {
      flex: 1;
    }
  }
  &__image {
    height: 150px;
    background-image: url(/app/images/python.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__tittle {
    text-align: center;
  }
  &__description {
    text-align: center;
  }
  &__skills {
  }
}
